<package-def>
    <module name="OPI_ЗапросыHTTP" file="Modules/OPI_ЗапросыHTTP.os"/>
    <module name="OPI_HTTPRequests" file="Modules/OPI_ЗапросыHTTP.os"/>
    <class name="OPI_HTTPКлиент" file="Modules/internal/Classes/OPI_HTTPКлиент.os"/>
    <class name="OPI_HTTPClient" file="Modules/internal/Classes/OPI_HTTPКлиент.os"/>
</package-def>
