<package-def>
    <module name="OPI_Airtable" file="airtable/Modules/OPI_Airtable.os"/>
    <module name="OPI_Bitrix24" file="bitrix24/Modules/OPI_Bitrix24.os"/>
    <module name="OPI_CDEK" file="cdek/Modules/OPI_CDEK.os"/>
    <module name="OPI_ClickHouse" file="clickhouse/Modules/OPI_ClickHouse.os"/>
    <module name="OPI_Dropbox" file="dropbox/Modules/OPI_Dropbox.os"/>
    <module name="OPI_FTP" file="ftp/Modules/OPI_FTP.os"/>
    <module name="OPI_GoogleCalendar" file="gcalendar/Modules/OPI_GoogleCalendar.os"/>
    <module name="OPI_GoogleDrive" file="gdrive/Modules/OPI_GoogleDrive.os"/>
    <module name="OPI_GoogleSheets" file="gsheets/Modules/OPI_GoogleSheets.os"/>
    <module name="OPI_GoogleWorkspace" file="google/Modules/OPI_GoogleWorkspace.os"/>
    <module name="OPI_GreenAPI" file="greenapi/Modules/OPI_GreenAPI.os"/>
    <module name="OPI_GreenMax" file="greenmax/Modules/OPI_GreenMax.os"/>
    <module name="OPI_GRPC" file="grpc/Modules/OPI_GRPC.os"/>
    <module name="OPI_MongoDB" file="mongodb/Modules/OPI_MongoDB.os"/>
    <module name="OPI_MSSQL" file="mssql/Modules/OPI_MSSQL.os"/>
    <module name="OPI_MySQL" file="mysql/Modules/OPI_MySQL.os"/>
    <module name="OPI_Neocities" file="neocities/Modules/OPI_Neocities.os"/>
    <module name="OPI_Notion" file="notion/Modules/OPI_Notion.os"/>
    <module name="OPI_Ollama" file="ollama/Modules/OPI_Ollama.os"/>
    <module name="OPI_OpenAI" file="openai/Modules/OPI_OpenAI.os"/>
    <module name="OPI_PostgreSQL" file="postgres/Modules/OPI_PostgreSQL.os"/>
    <module name="OPI_RCON" file="rcon/Modules/OPI_RCON.os"/>
    <module name="OPI_ReportPortal" file="rportal/Modules/OPI_ReportPortal.os"/>
    <module name="OPI_S3" file="s3/Modules/OPI_S3.os"/>
    <module name="OPI_SFTP" file="sftp/Modules/OPI_SFTP.os"/>
    <module name="OPI_Slack" file="slack/Modules/OPI_Slack.os"/>
    <module name="OPI_SQLite" file="sqlite/Modules/OPI_SQLite.os"/>
    <module name="OPI_SSH" file="ssh/Modules/OPI_SSH.os"/>
    <module name="OPI_TCP" file="tcp/Modules/OPI_TCP.os"/>
    <module name="OPI_Telegram" file="telegram/Modules/OPI_Telegram.os"/>
    <module name="OPI_Twitter" file="twitter/Modules/OPI_Twitter.os"/>
    <module name="OPI_Viber" file="viber/Modules/OPI_Viber.os"/>
    <module name="OPI_VK" file="vk/Modules/OPI_VK.os"/>
    <module name="OPI_VKTeams" file="vkteams/Modules/OPI_VKTeams.os"/>
    <module name="OPI_YandexDisk" file="yadisk/Modules/OPI_YandexDisk.os"/>
    <module name="OPI_YandexID" file="yandex/Modules/OPI_YandexID.os"/>
    <module name="OPI_YandexMarket" file="yamarket/Modules/OPI_YandexMarket.os"/>
    <module name="OPI_YandexMetrika" file="metrika/Modules/OPI_YandexMetrika.os"/>
</package-def>
