<package-def>
    <module name="OPI_GoogleCalendar" file="core/Modules/OPI_GoogleCalendar.os"/>
    <module name="OPI_Инструменты" file="tools/Modules/internal/Modules/OPI_Инструменты.os"/>
    <module name="OPI_Notion" file="core/Modules/OPI_Notion.os"/>
    <module name="OPI_Telegram" file="core/Modules/OPI_Telegram.os"/>
    <module name="OPI_GoogleDrive" file="core/Modules/OPI_GoogleDrive.os"/>
    <module name="OPI_ПолучениеДанныхТестов" file="tools/Modules/OPI_ПолучениеДанныхТестов.os"/>
    <module name="OPI_Twitter" file="core/Modules/OPI_Twitter.os"/>
    <module name="OPI_Viber" file="core/Modules/OPI_Viber.os"/>
    <module name="OPI_ПреобразованиеТипов" file="tools/Modules/OPI_ПреобразованиеТипов.os"/>
    <module name="OPI_GoogleWorkspace" file="core/Modules/OPI_GoogleWorkspace.os"/>
    <module name="OPI_Bitrix24" file="core/Modules/OPI_Bitrix24.os"/>
    <module name="OPI_YandexDisk" file="core/Modules/OPI_YandexDisk.os"/>
    <module name="OPI_Dropbox" file="core/Modules/OPI_Dropbox.os"/>
    <module name="OPI_Airtable" file="core/Modules/OPI_Airtable.os"/>
    <module name="OPI_Slack" file="core/Modules/OPI_Slack.os"/>
    <module name="OPI_GoogleSheets" file="core/Modules/OPI_GoogleSheets.os"/>
    <module name="OPI_YandexID" file="core/Modules/OPI_YandexID.os"/>
    <module name="OPI_VK" file="core/Modules/OPI_VK.os"/>
    <module name="OPI_Криптография" file="tools/Modules/internal/Modules/OPI_Криптография.os"/>
</package-def>
