<package-def>
    <module name="OPI_Airtable" file="api/airtable/Modules/OPI_Airtable.os"/>
    <module name="OPI_Bitrix24" file="api/bitrix24/Modules/OPI_Bitrix24.os"/>
    <module name="OPI_CDEK" file="api/cdek/Modules/OPI_CDEK.os"/>
    <module name="OPI_ClickHouse" file="api/clickhouse/Modules/OPI_ClickHouse.os"/>
    <module name="OPI_Dropbox" file="api/dropbox/Modules/OPI_Dropbox.os"/>
    <module name="OPI_FTP" file="api/ftp/Modules/OPI_FTP.os"/>
    <module name="OPI_GoogleCalendar" file="api/gcalendar/Modules/OPI_GoogleCalendar.os"/>
    <module name="OPI_GoogleDrive" file="api/gdrive/Modules/OPI_GoogleDrive.os"/>
    <module name="OPI_GoogleSheets" file="api/gsheets/Modules/OPI_GoogleSheets.os"/>
    <module name="OPI_GoogleWorkspace" file="api/google/Modules/OPI_GoogleWorkspace.os"/>
    <module name="OPI_GreenAPI" file="api/greenapi/Modules/OPI_GreenAPI.os"/>
    <module name="OPI_GreenMax" file="api/greenmax/Modules/OPI_GreenMax.os"/>
    <module name="OPI_GRPC" file="api/grpc/Modules/OPI_GRPC.os"/>
    <module name="OPI_MongoDB" file="api/mongodb/Modules/OPI_MongoDB.os"/>
    <module name="OPI_MSSQL" file="api/mssql/Modules/OPI_MSSQL.os"/>
    <module name="OPI_MySQL" file="api/mysql/Modules/OPI_MySQL.os"/>
    <module name="OPI_Neocities" file="api/neocities/Modules/OPI_Neocities.os"/>
    <module name="OPI_Notion" file="api/notion/Modules/OPI_Notion.os"/>
    <module name="OPI_Ollama" file="api/ollama/Modules/OPI_Ollama.os"/>
    <module name="OPI_OpenAI" file="api/openai/Modules/OPI_OpenAI.os"/>
    <module name="OPI_PostgreSQL" file="api/postgres/Modules/OPI_PostgreSQL.os"/>
    <module name="OPI_RCON" file="api/rcon/Modules/OPI_RCON.os"/>
    <module name="OPI_ReportPortal" file="api/rportal/Modules/OPI_ReportPortal.os"/>
    <module name="OPI_S3" file="api/s3/Modules/OPI_S3.os"/>
    <module name="OPI_SFTP" file="api/sftp/Modules/OPI_SFTP.os"/>
    <module name="OPI_Slack" file="api/slack/Modules/OPI_Slack.os"/>
    <module name="OPI_SQLite" file="api/sqlite/Modules/OPI_SQLite.os"/>
    <module name="OPI_SSH" file="api/ssh/Modules/OPI_SSH.os"/>
    <module name="OPI_TCP" file="api/tcp/Modules/OPI_TCP.os"/>
    <module name="OPI_Telegram" file="api/telegram/Modules/OPI_Telegram.os"/>
    <module name="OPI_Twitter" file="api/twitter/Modules/OPI_Twitter.os"/>
    <module name="OPI_Viber" file="api/viber/Modules/OPI_Viber.os"/>
    <module name="OPI_VK" file="api/vk/Modules/OPI_VK.os"/>
    <module name="OPI_VKTeams" file="api/vkteams/Modules/OPI_VKTeams.os"/>
    <module name="OPI_YandexDisk" file="api/yadisk/Modules/OPI_YandexDisk.os"/>
    <module name="OPI_YandexID" file="api/yandex/Modules/OPI_YandexID.os"/>
    <module name="OPI_YandexMarket" file="api/yamarket/Modules/OPI_YandexMarket.os"/>
    <module name="OPI_YandexMetrika" file="api/metrika/Modules/OPI_YandexMetrika.os"/>
</package-def>
