<package-def>
    <module name="OPI_Airtable" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Airtable.os"/>
    <module name="OPI_Bitrix24" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Bitrix24.os"/>
    <module name="OPI_BuildHash" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Modules/internal/Modules/OPI_BuildHash.os"/>
    <module name="OPI_CDEK" file="./src/ru/OPI/src/OInt/core/Modules/OPI_CDEK.os"/>
    <module name="OPI_ClickHouse" file="./src/ru/OPI/src/OInt/core/Modules/OPI_ClickHouse.os"/>
    <module name="OPI_Dropbox" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Dropbox.os"/>
    <module name="OPI_FTP" file="./src/ru/OPI/src/OInt/core/Modules/OPI_FTP.os"/>
    <module name="OPI_GoogleCalendar" file="./src/ru/OPI/src/OInt/core/Modules/OPI_GoogleCalendar.os"/>
    <module name="OPI_GoogleDrive" file="./src/ru/OPI/src/OInt/core/Modules/OPI_GoogleDrive.os"/>
    <module name="OPI_GoogleSheets" file="./src/ru/OPI/src/OInt/core/Modules/OPI_GoogleSheets.os"/>
    <module name="OPI_GoogleWorkspace" file="./src/ru/OPI/src/OInt/core/Modules/OPI_GoogleWorkspace.os"/>
    <module name="OPI_GreenAPI" file="./src/ru/OPI/src/OInt/core/Modules/OPI_GreenAPI.os"/>
    <module name="OPI_GreenMax" file="./src/ru/OPI/src/OInt/core/Modules/OPI_GreenMax.os"/>
    <module name="OPI_GRPC" file="./src/ru/OPI/src/OInt/core/Modules/OPI_GRPC.os"/>
    <module name="OPI_MongoDB" file="./src/ru/OPI/src/OInt/core/Modules/OPI_MongoDB.os"/>
    <module name="OPI_MSSQL" file="./src/ru/OPI/src/OInt/core/Modules/OPI_MSSQL.os"/>
    <module name="OPI_MySQL" file="./src/ru/OPI/src/OInt/core/Modules/OPI_MySQL.os"/>
    <module name="OPI_Neocities" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Neocities.os"/>
    <module name="OPI_Notion" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Notion.os"/>
    <module name="OPI_Ollama" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Ollama.os"/>
    <module name="OPI_OpenAI" file="./src/ru/OPI/src/OInt/core/Modules/OPI_OpenAI.os"/>
    <module name="OPI_PostgreSQL" file="./src/ru/OPI/src/OInt/core/Modules/OPI_PostgreSQL.os"/>
    <module name="OPI_RCON" file="./src/ru/OPI/src/OInt/core/Modules/OPI_RCON.os"/>
    <module name="OPI_ReportPortal" file="./src/ru/OPI/src/OInt/core/Modules/OPI_ReportPortal.os"/>
    <module name="OPI_S3" file="./src/ru/OPI/src/OInt/core/Modules/OPI_S3.os"/>
    <module name="OPI_SFTP" file="./src/ru/OPI/src/OInt/core/Modules/OPI_SFTP.os"/>
    <module name="OPI_Slack" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Slack.os"/>
    <module name="OPI_SQLite" file="./src/ru/OPI/src/OInt/core/Modules/OPI_SQLite.os"/>
    <module name="OPI_SSH" file="./src/ru/OPI/src/OInt/core/Modules/OPI_SSH.os"/>
    <module name="OPI_TCP" file="./src/ru/OPI/src/OInt/core/Modules/OPI_TCP.os"/>
    <module name="OPI_Telegram" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Telegram.os"/>
    <module name="OPI_Twitter" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Twitter.os"/>
    <module name="OPI_Viber" file="./src/ru/OPI/src/OInt/core/Modules/OPI_Viber.os"/>
    <module name="OPI_VK" file="./src/ru/OPI/src/OInt/core/Modules/OPI_VK.os"/>
    <module name="OPI_VKTeams" file="./src/ru/OPI/src/OInt/core/Modules/OPI_VKTeams.os"/>
    <module name="OPI_YandexDisk" file="./src/ru/OPI/src/OInt/core/Modules/OPI_YandexDisk.os"/>
    <module name="OPI_YandexID" file="./src/ru/OPI/src/OInt/core/Modules/OPI_YandexID.os"/>
    <module name="OPI_YandexMarket" file="./src/ru/OPI/src/OInt/core/Modules/OPI_YandexMarket.os"/>
    <module name="OPI_YandexMetrika" file="./src/ru/OPI/src/OInt/core/Modules/OPI_YandexMetrika.os"/>
    <module name="OPI_ЗапросыHTTP" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_ЗапросыHTTP.os"/>
    <module name="OPI_HTTPRequests" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_ЗапросыHTTP.os"/>
    <module name="OPI_ЗапросыSQL" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_ЗапросыSQL.os"/>
    <module name="OPI_SQLQueries" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_ЗапросыSQL.os"/>
    <module name="OPI_ЗапросыSSH" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_ЗапросыSSH.os"/>
    <module name="OPI_Инструменты" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Modules/OPI_Инструменты.os"/>
    <module name="OPI_Tools" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Modules/OPI_Инструменты.os"/>
    <module name="OPI_Компоненты" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_Компоненты.os"/>
    <module name="OPI_AddIns" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_Компоненты.os"/>
    <module name="OPI_Криптография" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Modules/OPI_Криптография.os"/>
    <module name="OPI_Cryptography" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Modules/OPI_Криптография.os"/>
    <module name="OPI_ПолучениеДанныхТестов" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_ПолучениеДанныхТестов.os"/>
    <module name="OPI_TestDataRetrieval" file="./src/ru/OPI/src/OInt/tools/Modules/OPI_ПолучениеДанныхТестов.os"/>
    <module name="OPI_ПреобразованиеТипов" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Modules/internal/Modules/OPI_ПреобразованиеТипов.os"/>
    <module name="OPI_TypeConversion" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Modules/internal/Modules/OPI_ПреобразованиеТипов.os"/>
    <module name="OPI_HTTPКлиент" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Classes/OPI_HTTPКлиент.os"/>
    <module name="OPI_HTTPClient" file="./src/ru/OPI/src/OInt/tools/Modules/internal/Classes/OPI_HTTPКлиент.os"/>
</package-def>
