src/ru/BSL/Tests/src/CommonModules/** linguist-vendored
src/ru/OInt/** linguist-vendored
src/en/** linguist-vendored
media/** linguist-vendored
docs/** linguist-vendored
* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.jar binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.zip binary
*.addin binary
*.dll binary
*.mp3 binary
*.mp4 binary
*.bmp binary
*.webp binary
*.pdn binary
*.luac binary
*.sh text eol=lf
*.bash text eol=lf
*.desktop text eol=lf
*.bat text eol=crlf
media/** binary
src/*/OInt/addins/*.zip !text !filter !merge !diff
src/*/BSL/OpenIntegrations/src/CommonTemplates/**/*.addin !text !filter !merge !diff
