
.vscode
OInt/coverage/genericCoverage.xml
OInt/coverage/coverage.xml
OInt/coverage/stat.json
*.ospx
data.json
*.exe
*.rpm
*.deb
test.os
/test_logs
Поток
/docs/docusaurus/node_modules
full.gif
fakedata.json
/build
/docs/docusaurus/.docusaurus
/docs/docusaurus/build
/docs/docusaurus/docs
/docs/docusaurus/courses
/docs/docusaurus/data
/docs/docusaurus/src/pages/courses.js
/docs/docusaurus/src/pages/courses.module.css
/OpenIntegrations-Courses
/Melezh
/test_results
suppaftp/
**/.metadata
**/.sonarlint

/src/**/BSL/YAXUNIT
/syntax


target/
.idea/
.scannerwork/

!oscript.exe
addin.zip
src/addins/tcp_server/OPI_TCPServer.zip
src/addins/sqlite/OPI_SQLite.zip
*.db3
private.key
/cfe2cf
