<package-def>
    <module name="OPI_HTTPRequests" file="Modules/OPI_HTTPRequests.os"/>
    <module name="OPI_HTTPRequests" file="Modules/OPI_HTTPRequests.os"/>
    <class name="OPI_HTTPClient" file="Modules/internal/Classes/OPI_HTTPClient.os"/>
    <class name="OPI_HTTPClient" file="Modules/internal/Classes/OPI_HTTPClient.os"/>
</package-def>
