<package-def>
    <module name="OPI_ЗапросыSQL" file="Modules/OPI_ЗапросыSQL.os"/>
    <module name="OPI_SQLQueries" file="Modules/OPI_ЗапросыSQL.os"/>
    <module name="OPI_ЗапросыSSH" file="Modules/OPI_ЗапросыSSH.os"/>
    <module name="OPI_Инструменты" file="Modules/internal/Modules/OPI_Инструменты.os"/>
    <module name="OPI_Tools" file="Modules/internal/Modules/OPI_Инструменты.os"/>
    <module name="OPI_Компоненты" file="Modules/OPI_Компоненты.os"/>
    <module name="OPI_AddIns" file="Modules/OPI_Компоненты.os"/>
    <module name="OPI_Криптография" file="Modules/internal/Modules/OPI_Криптография.os"/>
    <module name="OPI_Cryptography" file="Modules/internal/Modules/OPI_Криптография.os"/>
    <module name="OPI_ПреобразованиеТипов" file="Modules/internal/Modules/internal/Modules/OPI_ПреобразованиеТипов.os"/>
    <module name="OPI_TypeConversion" file="Modules/internal/Modules/internal/Modules/OPI_ПреобразованиеТипов.os"/>
</package-def>
