/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */



.heroBanner {
  padding: 2rem 2rem 0 7rem;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: black;
  margin-top: 20px;
  
}

.container {
  position: relative;
  z-index: 1;
}

.particle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.3em 0.5em 0.3em;
  border-color: transparent transparent #00000034 transparent;
  transform: rotate(36deg);
  pointer-events: none;
  animation: float linear infinite;
  z-index: -1;
  will-change: transform;
}

.fallingIconsContainer {
  position: absolute;
  top: 0;
  left: 5;
  width: 95%;
  height: 100%;
  z-index: -1;
}



@keyframes float {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-40px) translateX(20px) scale(1.2);
    opacity: 0.8;
  }
  90% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.2;
  }
  
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .biglogo{
    margin-top: 35px;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: ltft;
  margin-left: -10px;
  flex-wrap: wrap;
}

.particle {
  opacity: 0;
}

.button{
  margin: 10px;
}

.biglogo{
  width: 128px;
  height: 128px;
  margin-bottom: -15px;
  margin-left: -15px;
}

.heroBanner_src-pages-index-module {
  padding-bottom: 30px;
}

.textContainer {
  background-color: white;
}