/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 h3,h1{
  font-weight: 350;
 }

 p{
  font-weight: lighter;
 }


.heroBanner {
  padding: 2rem 2rem 0 7rem;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: black;
  margin-top: 20px;
  
}

.container {
  position: relative;
  z-index: 1;
}

.particle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.3em 0.5em 0.3em;
  border-color: transparent transparent #00000034 transparent;
  transform: rotate(36deg);
  pointer-events: none;
  animation: float linear infinite;
  z-index: -1;
  will-change: transform;
}

.fallingIconsContainer {
  position: absolute;
  top: 0;
  left: 5;
  width: 95%;
  height: 100%;
  z-index: -1;
}



@keyframes float {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-40px) translateX(20px) scale(1.2);
    opacity: 0.8;
  }
  90% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.2;
  }
  
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .biglogo{
    margin-top: 35px;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: ltft;
  margin-left: -10px;
  flex-wrap: wrap;
}

.particle {
  opacity: 0;
}

.button{
  margin: 10px;
}

.biglogo{
  width: 128px;
  height: 128px;
  margin-bottom: -15px;
  margin-left: -15px;
}

.heroBanner_src-pages-index-module {
  padding-bottom: 30px;
}

.textContainer {
  background-color: white;
}

.sponsorsSection {
  padding: 1rem 0;
  background-color: #ffffff;
}

.sponsorsTitle {
  font-size: 2.2rem;
}

.sponsorsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;


}

.sponsorLink {
  text-decoration: none;
  display: flex;
  justify-content: center; /* Центрирует карточку в ячейке */
}

.sponsorCard {
  position: relative;
  width: 100%;
  max-width: 256px; /* Максимальная ширина карточки */
  height: 200px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}

.sponsorCard:hover {
  transform: translateY(-5px);
}

.sponsorLogo {
  max-width: 80%;
  max-height: 128px;
  object-fit: contain;
  opacity: 0.8;
}

/* Всплывающая подсказка */
.sponsorTooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  color: #000000;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  transform: translateY(100%);
}

.sponsorCard:hover .sponsorTooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}