/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */



.heroBanner {
  padding: 2rem 2rem 0 7rem;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: black;
  margin-top: 20px;
  
}

.particle {
  position: absolute;
  background-color: rgba(0, 63, 19, 0.452);
  border-radius: 50%;
  pointer-events: none;
  animation: float linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px) translateX(20px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .biglogo{
    margin-top: 35px;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: ltft;
  margin-left: -10px;
  flex-wrap: wrap;
}

.button{
  margin: 10px;
}

.biglogo{
  width: 128px;
  height: 128px;
  margin-bottom: -15px;
  margin-left: -15px;
}

.heroBanner_src-pages-index-module {
  padding-bottom: 30px;
}
