<package-def>
    <module name="OPI_Airtable" file="core/Modules/OPI_Airtable.os"/>
    <module name="OPI_Bitrix24" file="core/Modules/OPI_Bitrix24.os"/>
    <module name="OPI_BuildHash" file="tools/Modules/internal/Modules/internal/Modules/OPI_BuildHash.os"/>
    <module name="OPI_CDEK" file="core/Modules/OPI_CDEK.os"/>
    <module name="OPI_Dropbox" file="core/Modules/OPI_Dropbox.os"/>
    <module name="OPI_FTP" file="core/Modules/OPI_FTP.os"/>
    <module name="OPI_GoogleCalendar" file="core/Modules/OPI_GoogleCalendar.os"/>
    <module name="OPI_GoogleDrive" file="core/Modules/OPI_GoogleDrive.os"/>
    <module name="OPI_GoogleSheets" file="core/Modules/OPI_GoogleSheets.os"/>
    <module name="OPI_GoogleWorkspace" file="core/Modules/OPI_GoogleWorkspace.os"/>
    <module name="OPI_GreenAPI" file="core/Modules/OPI_GreenAPI.os"/>
    <module name="OPI_GreenMax" file="core/Modules/OPI_GreenMax.os"/>
    <module name="OPI_GRPC" file="core/Modules/OPI_GRPC.os"/>
    <module name="OPI_MongoDB" file="core/Modules/OPI_MongoDB.os"/>
    <module name="OPI_MSSQL" file="core/Modules/OPI_MSSQL.os"/>
    <module name="OPI_MySQL" file="core/Modules/OPI_MySQL.os"/>
    <module name="OPI_Neocities" file="core/Modules/OPI_Neocities.os"/>
    <module name="OPI_Notion" file="core/Modules/OPI_Notion.os"/>
    <module name="OPI_Ollama" file="core/Modules/OPI_Ollama.os"/>
    <module name="OPI_OpenAI" file="core/Modules/OPI_OpenAI.os"/>
    <module name="OPI_PostgreSQL" file="core/Modules/OPI_PostgreSQL.os"/>
    <module name="OPI_RCON" file="core/Modules/OPI_RCON.os"/>
    <module name="OPI_ReportPortal" file="core/Modules/OPI_ReportPortal.os"/>
    <module name="OPI_S3" file="core/Modules/OPI_S3.os"/>
    <module name="OPI_SFTP" file="core/Modules/OPI_SFTP.os"/>
    <module name="OPI_Slack" file="core/Modules/OPI_Slack.os"/>
    <module name="OPI_SQLite" file="core/Modules/OPI_SQLite.os"/>
    <module name="OPI_SSH" file="core/Modules/OPI_SSH.os"/>
    <module name="OPI_TCP" file="core/Modules/OPI_TCP.os"/>
    <module name="OPI_Telegram" file="core/Modules/OPI_Telegram.os"/>
    <module name="OPI_Twitter" file="core/Modules/OPI_Twitter.os"/>
    <module name="OPI_Viber" file="core/Modules/OPI_Viber.os"/>
    <module name="OPI_VK" file="core/Modules/OPI_VK.os"/>
    <module name="OPI_VKTeams" file="core/Modules/OPI_VKTeams.os"/>
    <module name="OPI_YandexDisk" file="core/Modules/OPI_YandexDisk.os"/>
    <module name="OPI_YandexID" file="core/Modules/OPI_YandexID.os"/>
    <module name="OPI_YandexMarket" file="core/Modules/OPI_YandexMarket.os"/>
    <module name="OPI_YandexMetrika" file="core/Modules/OPI_YandexMetrika.os"/>
    <module name="OPI_HTTPRequests" file="tools/Modules/OPI_HTTPRequests.os"/>
    <module name="OPI_HTTPRequests" file="tools/Modules/OPI_HTTPRequests.os"/>
    <module name="OPI_SQLQueries" file="tools/Modules/OPI_SQLQueries.os"/>
    <module name="OPI_SQLQueries" file="tools/Modules/OPI_SQLQueries.os"/>
    <module name="OPI_SSHRequests" file="tools/Modules/OPI_SSHRequests.os"/>
    <module name="OPI_Tools" file="tools/Modules/internal/Modules/OPI_Tools.os"/>
    <module name="OPI_Tools" file="tools/Modules/internal/Modules/OPI_Tools.os"/>
    <module name="OPI_AddIns" file="tools/Modules/OPI_AddIns.os"/>
    <module name="OPI_AddIns" file="tools/Modules/OPI_AddIns.os"/>
    <module name="OPI_Cryptography" file="tools/Modules/internal/Modules/OPI_Cryptography.os"/>
    <module name="OPI_Cryptography" file="tools/Modules/internal/Modules/OPI_Cryptography.os"/>
    <module name="OPI_TestDataRetrieval" file="tools/Modules/OPI_TestDataRetrieval.os"/>
    <module name="OPI_TestDataRetrieval" file="tools/Modules/OPI_TestDataRetrieval.os"/>
    <module name="OPI_TypeConversion" file="tools/Modules/OPI_TypeConversion.os"/>
    <module name="OPI_TypeConversion" file="tools/Modules/OPI_TypeConversion.os"/>
    <module name="OPI_HTTPClient" file="tools/Modules/internal/Classes/OPI_HTTPClient.os"/>
    <module name="OPI_HTTPClient" file="tools/Modules/internal/Classes/OPI_HTTPClient.os"/>
</package-def>
