<package-def>
    <module name="OPI_Cryptography" file="tools/Modules/internal/Modules/OPI_Cryptography.os"/>
    <module name="OPI_Notion" file="core/Modules/OPI_Notion.os"/>
    <module name="OPI_GoogleCalendar" file="core/Modules/OPI_GoogleCalendar.os"/>
    <module name="OPI_TestDataRetrieval" file="tools/Modules/OPI_TestDataRetrieval.os"/>
    <module name="OPI_Slack" file="core/Modules/OPI_Slack.os"/>
    <module name="OPI_Dropbox" file="core/Modules/OPI_Dropbox.os"/>
    <module name="OPI_GoogleDrive" file="core/Modules/OPI_GoogleDrive.os"/>
    <module name="OPI_VK" file="core/Modules/OPI_VK.os"/>
    <module name="OPI_Telegram" file="core/Modules/OPI_Telegram.os"/>
    <module name="OPI_Airtable" file="core/Modules/OPI_Airtable.os"/>
    <module name="OPI_Bitrix24" file="core/Modules/OPI_Bitrix24.os"/>
    <module name="OPI_GoogleSheets" file="core/Modules/OPI_GoogleSheets.os"/>
    <module name="OPI_TypeConversion" file="tools/Modules/OPI_TypeConversion.os"/>
    <module name="OPI_Twitter" file="core/Modules/OPI_Twitter.os"/>
    <module name="OPI_Tools" file="tools/Modules/internal/Modules/OPI_Tools.os"/>
    <module name="OPI_Viber" file="core/Modules/OPI_Viber.os"/>
    <module name="OPI_YandexDisk" file="core/Modules/OPI_YandexDisk.os"/>
    <module name="OPI_YandexID" file="core/Modules/OPI_YandexID.os"/>
    <module name="OPI_GoogleWorkspace" file="core/Modules/OPI_GoogleWorkspace.os"/>
</package-def>
