<package-def>
    <module name="OPI_Airtable" file="core/airtable/Modules/OPI_Airtable.os"/>
    <module name="OPI_Bitrix24" file="core/bitrix24/Modules/OPI_Bitrix24.os"/>
    <module name="OPI_CDEK" file="core/cdek/Modules/OPI_CDEK.os"/>
    <module name="OPI_ClickHouse" file="core/clickhouse/Modules/OPI_ClickHouse.os"/>
    <module name="OPI_Dropbox" file="core/dropbox/Modules/OPI_Dropbox.os"/>
    <module name="OPI_FTP" file="core/ftp/Modules/OPI_FTP.os"/>
    <module name="OPI_GoogleCalendar" file="core/gcalendar/Modules/OPI_GoogleCalendar.os"/>
    <module name="OPI_GoogleDrive" file="core/gdrive/Modules/OPI_GoogleDrive.os"/>
    <module name="OPI_GoogleSheets" file="core/gsheets/Modules/OPI_GoogleSheets.os"/>
    <module name="OPI_GoogleWorkspace" file="core/google/Modules/OPI_GoogleWorkspace.os"/>
    <module name="OPI_GreenAPI" file="core/greenapi/Modules/OPI_GreenAPI.os"/>
    <module name="OPI_GreenMax" file="core/greenmax/Modules/OPI_GreenMax.os"/>
    <module name="OPI_GRPC" file="core/grpc/Modules/OPI_GRPC.os"/>
    <module name="OPI_MongoDB" file="core/mongodb/Modules/OPI_MongoDB.os"/>
    <module name="OPI_MSSQL" file="core/mssql/Modules/OPI_MSSQL.os"/>
    <module name="OPI_MySQL" file="core/mysql/Modules/OPI_MySQL.os"/>
    <module name="OPI_Neocities" file="core/neocities/Modules/OPI_Neocities.os"/>
    <module name="OPI_Notion" file="core/notion/Modules/OPI_Notion.os"/>
    <module name="OPI_Ollama" file="core/ollama/Modules/OPI_Ollama.os"/>
    <module name="OPI_OpenAI" file="core/openai/Modules/OPI_OpenAI.os"/>
    <module name="OPI_PostgreSQL" file="core/postgres/Modules/OPI_PostgreSQL.os"/>
    <module name="OPI_RCON" file="core/rcon/Modules/OPI_RCON.os"/>
    <module name="OPI_ReportPortal" file="core/rportal/Modules/OPI_ReportPortal.os"/>
    <module name="OPI_S3" file="core/s3/Modules/OPI_S3.os"/>
    <module name="OPI_SFTP" file="core/sftp/Modules/OPI_SFTP.os"/>
    <module name="OPI_Slack" file="core/slack/Modules/OPI_Slack.os"/>
    <module name="OPI_SQLite" file="core/sqlite/Modules/OPI_SQLite.os"/>
    <module name="OPI_SSH" file="core/ssh/Modules/OPI_SSH.os"/>
    <module name="OPI_TCP" file="core/tcp/Modules/OPI_TCP.os"/>
    <module name="OPI_Telegram" file="core/telegram/Modules/OPI_Telegram.os"/>
    <module name="OPI_Twitter" file="core/twitter/Modules/OPI_Twitter.os"/>
    <module name="OPI_Viber" file="core/viber/Modules/OPI_Viber.os"/>
    <module name="OPI_VK" file="core/vk/Modules/OPI_VK.os"/>
    <module name="OPI_VKTeams" file="core/vkteams/Modules/OPI_VKTeams.os"/>
    <module name="OPI_YandexDisk" file="core/yadisk/Modules/OPI_YandexDisk.os"/>
    <module name="OPI_YandexID" file="core/yandex/Modules/OPI_YandexID.os"/>
    <module name="OPI_YandexMarket" file="core/yamarket/Modules/OPI_YandexMarket.os"/>
    <module name="OPI_YandexMetrika" file="core/metrika/Modules/OPI_YandexMetrika.os"/>
</package-def>
