<package-def>
    <module name="OPI_7z" file="7z/Modules/OPI_7z.os"/>
    <module name="OPI_Janx" file="janx/Modules/OPI_Janx.os"/>
    <module name="OPI_MessagePack" file="msgpack/Modules/OPI_MessagePack.os"/>
    <module name="OPI_RAR" file="rar/Modules/OPI_RAR.os"/>
    <module name="OPI_Tar" file="tar/Modules/OPI_Tar.os"/>
</package-def>
