[Desktop Entry]
Version=1.0
Type=Application
Name=OInt
Name[ru]=OInt
GenericName=API Integration Tool
GenericName[ru]=Инструмент интеграции с API
Comment=CLI toolkit for integrating with popular services and technologies
Comment[ru]=Приложение для работы с различными онлайн-сервисами и технологиями
Exec=oint --help
Icon=dev.openintegrations.oint
Terminal=true
NoDisplay=true
Categories=Development;
Keywords=api;integration;cli;telegram;vk;bitrix24;
Keywords[ru]=апи;интеграция;командная строка;телеграм;вк;битрикс24;
