<package-def>
    <module name="OPI_SQLQueries" file="Modules/OPI_SQLQueries.os"/>
    <module name="OPI_SQLQueries" file="Modules/OPI_SQLQueries.os"/>
    <module name="OPI_SSHRequests" file="Modules/OPI_SSHRequests.os"/>
    <module name="OPI_Tools" file="Modules/internal/Modules/OPI_Tools.os"/>
    <module name="OPI_Tools" file="Modules/internal/Modules/OPI_Tools.os"/>
    <module name="OPI_AddIns" file="Modules/OPI_AddIns.os"/>
    <module name="OPI_AddIns" file="Modules/OPI_AddIns.os"/>
    <module name="OPI_Cryptography" file="Modules/internal/Modules/OPI_Cryptography.os"/>
    <module name="OPI_Cryptography" file="Modules/internal/Modules/OPI_Cryptography.os"/>
    <module name="OPI_TypeConversion" file="Modules/internal/Modules/internal/Modules/OPI_TypeConversion.os"/>
    <module name="OPI_TypeConversion" file="Modules/internal/Modules/internal/Modules/OPI_TypeConversion.os"/>
</package-def>
