<package-def>
    <module name="" file="core/Modules/OPI_GoogleCalendar.os"/>
    <module name="" file="core/Modules/OPI_Airtable.os"/>
    <module name="" file="core/Modules/OPI_Twitter.os"/>
    <module name="" file="core/Modules/OPI_Slack.os"/>
    <module name="" file="core/Modules/OPI_Viber.os"/>
    <module name="" file="core/Modules/OPI_GoogleDrive.os"/>
    <module name="" file="core/Modules/OPI_Notion.os"/>
    <module name="" file="core/Modules/OPI_YandexID.os"/>
    <module name="" file="tools/Modules/OPI_ПолучениеДанныхТестов.os"/>
    <module name="" file="core/Modules/OPI_GoogleSheets.os"/>
    <module name="" file="tools/Modules/OPI_ПреобразованиеТипов.os"/>
    <module name="" file="core/Modules/OPI_Telegram.os"/>
    <module name="" file="core/Modules/OPI_YandexDisk.os"/>
    <module name="" file="core/Modules/OPI_GoogleWorkspace.os"/>
    <module name="" file="tools/Modules/internal/Modules/OPI_Инструменты.os"/>
    <module name="" file="core/Modules/OPI_VK.os"/>
    <module name="" file="tools/Modules/internal/Modules/OPI_Криптография.os"/>
</package-def>
