name: TEST CLI

# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:

  Testing:
    runs-on: ubuntu-latest
    steps:

      - name: Установить OInt
        run: |
          TEMP_DEB="$(mktemp)" &&
          wget -O "$TEMP_DEB" 'https://api.athenaeum.digital/tc/job/Release/lastSuccessfulBuild/artifact/1.30.0/oint_1.30.0_all_ru.deb' &&
          sudo dpkg -i "$TEMP_DEB"
          rm -f "$TEMP_DEB"

      - name: Тест
        run: sudo oint
